<html>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login/john">Login John</a></li>
            <li><a href="/login/jane">Login Jane</a></li>
            <li><a href="/logout">Logout Everyone</a></li>
            <li><a href="/catalog">Catalog</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/cart/checkout">Checkout</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
        {% block content %} 
        {% endblock %}
    </body>
</html>